h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.button {
    background-color: #4280f3;
    border: none;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

*{
	margin: 1;
	padding: 1;
}

body,html{
	height: 100%;
	align-items:center;
	justify-content: center;
}

*{
	margin:0;
	padding: 0;
}

html,body{
	height: 100%;
	width: 100%;
	background-color:#ddd;
}

.container{
	max-width: 1600px;
	width: 1600px;
	margin:0px auto;
	height: 500px;
	overflow-x: hidden;
	position: relative;
	border:2px solid #ddd;
}

.container .images{
	position: absolute;
	display: flex;
	width: 100%;
	height: 90%;
	top:0;
	left:0;
    transition: 250ms;
}

.container .images img{
	max-width: 300px;
	position: relative;
	margin-right: 10px;
}

.container .buttons{
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	align-items: center;
	top:50%;
	transform:translateY(-50%);
	bottom: 0;
}

.container .buttons  i{
	font-size:100px;
	cursor:pointer;
	color:black;
}

*, *::after, *::before {
    box-sizing: border-box;
  }

  :root {
    --handle-size: 3rem;
    --img-gap: .25rem;
  }

  body {
    margin: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .slider {
    --items-per-screen: 5;
    --slider-index: 0;
    display: flex;
    flex-grow: 1;
    margin: 0 var(--img-gap);
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;
  }

  .slider > img {
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    padding: var(--img-gap);
    border-radius: 1rem;
  }

  .handle {
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, .25);
    z-index: 10;
    margin: var(--img-gap) 0;
    width: var(--handle-size);
    cursor: pointer;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 0;
    transition: background-color 150ms ease-in-out;
  }

.footer {
    padding: 40px 0;
    background-color: rgb(156, 156, 156);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    line-height: 1.6px;
    margin-bottom: 0;
    text-align: center;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover{
    opacity: 1;
    color: rgb(255, 0, 0);
}

.btn-group button {
    background-color: #0468aa;
    border: 1px solid blue;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
  }
  
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none;
  }
  
  .btn-group button:hover {
    background-color: #1838a3;
  }
