body {
	background-color: rgb(107, 107, 107);
  	align-items:center;
	justify-content: center;
  	height: 100%;
	width: 99.5%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
  }

#container {
   text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Limelight';
    font-size: 95px;
    color: black;
  }
  
  .highlight-word-color1{
    color: #bf9a42;
    text-align: center;
    font-family: 'Limelight';
    font-size: 95px;
}

.highlight-word-color2{
    color: #bf9a42;
    text-align: center;
    font-family: 'Limelight';
    font-size: 45px;
}

h2 {
    text-align: center;
    font-family: 'Limelight';
    font-size: 45px;
    color: black;
}

#btn {
    border-radius: 10px;
    padding: 5px;
    color: black;
    text-align: center;
    justify-content: center;
    height: 65px;
    width: 245px;
    cursor: pointer;
}

#output {
    margin: 10px auto;
    color: black;
}

*, *::before, *::after {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 22.5px;
}

.container {
    padding: 15px;
    text-align: center;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.btn {
    border-radius: 10px;
    padding: 5px;
    color: black;
    text-align: center;
    justify-content: center;
    height: 65px;
    width: 245px;
    cursor: pointer;
}

.btn:hover {
    border-color: white;
}

.btn.correct {
    background-color: rgb(71, 255, 71);
}
  
.btn.wrong {
    background-color: red;
}
 
.start-btn, .next-btn {
    font-weight: bold;
    padding: 10px 20px;
    font-size: 25px;
}
 
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.hide {
    display: none;
}

.btn-group button {
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

*{
	margin:0;
	padding: 0;
}

*{
	margin:0;
	padding: 0;
}

.container{
  max-width: 1700px;
  width: 1700px;
	margin:0px auto;
	height: 500px;
	overflow-x: hidden;
	position: relative;
	border:0px solid;
}

.container .images{
  position: absolute;
	display: flex;
	width: 100%;
	height: 90%;
	top:0;
	left:0;
	transition: 200ms;
}

.container .images img{
	max-width: 300px;
	position: relative;
	margin-right: 20px;
}
.container .buttons{
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	align-items: center;
	top:50%;
	transform:translateY(-50%);
	bottom: 0;
}

.container .buttons  i{
	cursor:pointer;
	color:black;
}

.modal {
    width: 650px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);;
    transition: 300ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    max-width: 80%;
}
  
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
  
.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
  
.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}
  
.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
  
.modal-body {
    padding: 10px 15px;
}
  
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
  
#overlay.active {
    opacity: 1;
    pointer-events: all;
}
