body {
    background-image: url("https://wallpapercave.com/wp/wp2670465.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

#container {
    height: 380px;
    width: 450px;
    text-align: center;
    background-color: rgb(173, 173, 173);
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Limelight';
    font-size: 5.5em;
}

h2 {
    text-align: center;
    color: white;
    font-family: 'Limelight';
    font-size: 2.3em;
}

p {
    font-size: 23px;
    color: white;
}

#btn {
    margin: 35px auto;
    height: 30px;
    width: 250px;
    font-size: 22px;
    background-color: rgb(207, 207, 207);
}

#output {
    margin: 25px auto;
    font-size: 26px;
    color: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
  
:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    padding: 5px;
    width: 100vw;
    height: 100vh;
}

.container {
    padding: 15px;
    background-color: rgb(158, 158, 158);
    text-align: center;
    color: black;
    opacity: 0.89;
    font-size: 1.5em;
}
  
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}
  
.btn {
    --hue: var(--hue-neutral);
    border: 0.5px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 47%);
    border-radius: 5px;
    padding: 5px;
    color: white;
    outline: none;
}
  
.btn:hover {
    border-color: black;
}
  
.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}
  
.btn.wrong {
    --hue: var(--hue-wrong);
}
  
.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
  
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.hide {
    display: none;
}

.footer {
    padding: 40px 0;
    background-color: rgb(156, 156, 156);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    line-height: 1.6px;
    margin-bottom: 0;
    text-align: center;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover{
    opacity: 1;
    color: rgb(255, 0, 0);
}

.btn-group button {
    background-color: #14a1ff;
    border: 1px solid blue;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
  }
  
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none;
  }
  
  .btn-group button:hover {
    background-color: #1838a3;
  }
